modules = ["nodejs-20", "web"]
[agent]
expertMode = true

[nix]
channel = "stable-25_05"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "ULTRAGOL Server"

[[workflows.workflow]]
name = "ULTRAGOL Server"
author = "agent"

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm start"
waitForPort = 5000

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 35245
externalPort = 3001

[[ports]]
localPort = 38665
externalPort = 6000

[[ports]]
localPort = 40205
externalPort = 3000

[[ports]]
localPort = 40667
externalPort = 3003

[[ports]]
localPort = 41373
externalPort = 3002

[[ports]]
localPort = 42465
externalPort = 5173

[[ports]]
localPort = 45367
externalPort = 5000

[[ports]]
localPort = 45965
externalPort = 6800

[[ports]]
localPort = 46299
externalPort = 4200

[deployment]
deploymentTarget = "autoscale"
run = ["node", "server.js"]
